section#affiliations.resume-section.p-3.p-lg-5.d-flex.flex-column
  .my-auto
    h2.mb-3=resume.sections.affiliations.title
    - var alerts = resume.sections.affiliations.alerts
    if alerts
      include /components/resume/parts/alerts.pug
    each membership in resume.sections.affiliations.memberships
      .resume-item.d-flex.flex-column.flex-md-row.mb-4
        .resume-content.me-auto
          .subheading.mb-0
            i.fa.fa-handshake-o.text-black
            | 
            !=membership.membership
            | 
            | &mdash;
            | 
            span.text-black!=membership.organization
            if (membership.location)
              | 
              | &bullet;
              | 
              !=membership.location
        .resume-date.text-end
          h4.text-primary!=membership.dates
