body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.responsive-logo {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
  color: #fff;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #007bff;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #007bff;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

@media screen {
  section.resume-section {
    border-bottom: 1px solid #dee2e6;
  }
}

@media print {
  section {
    max-height: 11in;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #007bff !important;
}

.text-primary {
  color: #007bff !important;
}

a {
  color: #007bff;
}

a:hover, a:focus, a:active {
  color: #0056b3;
}

@media print {
  nav, .navbar, .btn, .alert, #resume, #resume .my-auto, #blog, #blog .my-auto {
    display: none !important;
  }
  body {
    background-color: #fff;
    color: #000 !important;
    font-family: 'Merriweather', serif;
  }
  .paper-area {
    width: 100%;
  }
  .printable-area {
    width: 100%;
  }
  h3 {
    font-weight: 100 !important;
  }
}

@page {
  size: 8.5in 11in;
  margin: 0.5in 0.5in 0.5in 0.5in;
}

@media screen {
  body {
    background-color: #343a40 !important;
    color: #000 !important;
    font-family: 'Merriweather', serif;
  }
  .paper-area {
    margin: 5em 0 1em 0;
    background-color: #fff;
  }
  .navbar {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.25em;
    text-transform: uppercase;
  }
  .navbar-brand {
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.5em;
    font-weight: bold;
  }
  .paper-area {
    width: 8.5in;
    min-width: 8.5in;
    max-width: 8.5in;
  }
  .printable-area {
    border: 1px solid #343a40;
    position: relative;
    left: 0.5in;
    top: 0.5in;
    width: 7.5in;
    min-width: 7.5in;
    max-width: 7.5in;
  }
}

.text-black {
  color: #000;
}

.qotd sup {
  font-size: 150pt;
  margin-top: 75pt;
  line-height: 0.2em;
  top: 0.1em;
}

.qotd blockquote, .qotd h2 {
  font-family: Tangerine, cursive;
  text-transform: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.0 !important;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  text-decoration: underline;
  font-size: 18.2pt;
}

h1.name {
  text-decoration: none !important;
  font-size: 28pt;
  text-decoration: underline;
  display: inline-block;
  border-bottom: 10px solid #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h2 {
  font-weight: bold;
}

h2, h3 {
  font-size: 12.6pt;
}

h3 {
  font-weight: normal !important;
}

h4 {
  font-size: 10.5pt;
  font-weight: lighter !important;
}

h4.address {
  margin-bottom: 12.5pt;
  font-size: 12.5pt;
  font-weight: bold;
}

p {
  font-family: 'Merriweather', serif;
  margin-top: 2pt;
}

.p-2 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.p-2 h1, .p-2 h2, .p-2 h3, .p-2 h4 {
  margin-bottom: 4pt;
}
