section#blog.resume-section.p-3.p-lg-5.d-flex.flex-column
  .my-auto
    h2.mb-3=resume.sections.blog.title
    - var alerts = resume.sections.blog.alerts
    if alerts
      include /components/resume/parts/alerts.pug
    p.mb-5
      a.btn.btn-danger(href='/blog')
        | Proceed to Blog Archive
        | 
        i.fa.fa-external-link
