section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
  .my-auto
    h2.mb-3=resume.sections.interests.title
    - var alerts = resume.sections.interests.alerts
    if alerts
      include /components/resume/parts/alerts.pug
    if resume.sections.interests.qotd
      .jumbotron.qotd
        each qotd in resume.sections.interests.qotd
          blockquote.text-right.mb-0
            h2.mb-0
              sup
                |&ldquo;
              !=qotd.quote
              sup
                |&rdquo;
            h4.mb-0
              | &mdash;
              !=qotd.author 
    each bullet in resume.sections.interests.bullets
      p.mb-4!=bullet
