script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
ins.adsbygoogle.d-block(data-ad-client=site.config.google_adsense_id, data-ad-slot="5297465010", data-ad-format="auto")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
