---
layout: default
---

<div class="home">

  <span class="right skyscraper">
    {% include google-adsense-vertical-skyscraper.html %}
  </span>

  <h1 class="page-heading">Blog Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if forloop.index0 == 2 or forloop.index0 == 6 %}
        <li>
          <p>
            {% include google-adsense-leaderboard.html %}
          </p>
        </li>
      {% endif %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% include post-meta.html param="post" %}
        <p>
          {% if post.summary %}{{ post.summary }}{% else %}{{ post.content | summarize }}{% endif %}
          <a href="{{ post.url | prepend: site.baseurl }}">Read more... <i class="fa fa-angle-double-right"></i></a>
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

{% include disqus-main.html count="true" embed="false" %}
