<!-- div class="{% if include.class %} {{ include.class }}{% endif %}{% if include.sticky %} sticky{%endif%}" -->
  <span class="{% if include.class %} {{ include.class }}{% endif %}{% if include.sticky %} sticky{%endif%}">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- daball.me, responsive ad unit -->
    <ins class="adsbygoogle{% if include.sticky %} sticky{%endif%}{% if include.class %} {{ include.class }}{% endif %}"
    style="display:block"
    data-ad-client="{{ site.adsense_client_id }}"
    data-ad-slot="{% if include.slot %}{{ include.slot }}{% else %}5297465010{% endif %}"
    data-ad-format="{% if include.format %}{{ include.format }}{% else %}auto{% endif %}"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </span>
<!-- /div -->
