block root
  doctype html
  block html
    html(lang='en')
      block html_head
        head
          // Resume theme evolved from startbootstrap-resume-gh-pages
          meta(charset='utf-8')
          meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
          block head
          block css
            // Bootstrap core CSS
            link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
            // Custom fonts for this template
            link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
            link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet')
            link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
            // Custom styles for this template
            link(href='/layouts/resume/css/print.min.css', rel='stylesheet')
      block html_body
        body
          block body
          block foot
          block scripts
            include /components/analytics/script.pug
            // Bootstrap core JavaScript
            script(src='/vendor/jquery/jquery.min.js')
            script(src='/vendor/popper.js/dist/popper.min.js')
            script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
            // Plugin JavaScript
            script(src='/vendor/jquery-easing/jquery.easing.min.js')
            // Custom scripts for this template
            script(src='/layouts/resume/js/resume.min.js')
            script(src='/layouts/resume/js/print.min.js')
