@import "../bourbon/bourbon";

*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

body {
  background: url("/img/wallpaper/cool-nature-wide-wallpaper36390-1680x1050-compressed.jpg");
  background-position: center top, center repeat fixed;
  background-size: 100% auto;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  margin: 0 0 0 0;
}

//margins stuff
.header, .footer, .content-container {
  padding: 5px 5px 5px 5px;
  width: 90%;
}

.content-container {
  margin: 15pt 5%;
  background: #fff;
  background-color: rgba(255,255,255,0.8);
  padding: 5pt 10pt;
  @include border-top-radius(15px);
  @include border-right-radius(15px);
  @include border-bottom-radius(15px);
  @include border-left-radius(15px);
}

.header {
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin-left: 5%;
  text-align: center;
  top: 0px;
  @include border-bottom-radius(15px);
}

.footer {
  padding: 5px 5px 5px 5px;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  margin-left: 5%;
  text-align: center;
  @include border-top-radius(15px);
}

//header stuff
h1.title, h2.title { display: block; margin-right: 5pt; margin-top: 0px; margin-bottom: 0px; }
h1.title a { color: #fff; }

//body stuff
a, a:visited { color: #00B7FF; text-decoration: none }
a:hover { color: #2BA6CB; }
h1,h2,h3,h4,h5,h6 { font-family: "Open Sans Condensed", sans-serif; font-weight: 300; }
h1 { font-weight: bold; }
blockquote { }
p.post-meta { font-family: "Open Sans Condensed"; }
code, pre { font-family: "Source Code Pro", monospace; }
pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.post { min-height: 620px; }
.left { float: left; }
.right { float: right; }
.clear-left { clear: left; }
.clear-right { float: right; }
.clear-both { clear: both; }
//THIS IS A POLICY VIOLATION. DO NOT ADD THIS CSS BACK. REMOVE COMPLETELY IN A FUTURE COMMIT.
//.skyscraper { position: sticky; top: 10px; }
.post, .post-list { margin-right: 165px; }
ul.post-list { list-style-type: none; }
ul.post-list li { margin: 0 }

//footer stuff
.footer .contact a i { font-size: 42pt; text-decoration: none; margin-left: 10pt; margin-right: 10pt; }

//make code more legible
pre {
  background-color: rgba(255,255,255,0.7);
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  padding: 0.2em;
  padding-left: 0.4em;
}
