.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
  .container
    a#print.navbar-brand(href='#')!=resume.sections.resume.title
    if blog.nav.menu
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/#resume") Cancel
