.card
  .card-body.center
    if ccc && ccc.footer && ccc.footer.menu
    ul.footer-menu
      each item in ccc.footer.menu
        li
          a(href=item.url)!=item.title
    p &copy; Copyright 2019 David Ball.